html, body {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw; height: 100dvh;
    overflow: hidden !important;
    touch-action: none !important;
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    margin: 0; padding: 0;
}

input, select, textarea {
    font-size: 16px !important;
    touch-action: manipulation;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
